:root{
    --color-de-fondo-input: #F5F5F5;
    --color-fondo-blanco: #FFFFFF;
    --color-letra-blanco: #FFFFFF;
    --color-fondo-rodapie: #EAF2FD;
    --color-letras: #464646;
    --warning-color: #df2525;
    --color-borde-bottom-input: #C8C8C8;
    --color-boton-azul: #2A7AE4;
    --color-texto-input: #A2A2A2;
}