.products{
    padding: 4rem 9.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--color-de-fondo-input);
}

@media screen and (max-width:768px){
    .products{
        padding: 2rem;
    }
}