.products__header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.products__button{
    background-color: var(--color-boton-azul);
    border: unset;
    color: var(--color-letra-blanco);
    padding: 1rem;
    font-size: 1rem;
    font-family: 'Raleway';
}


.products__title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-letras);
}


@media screen and (max-width:768px){
    .products__title{
        font-size: 1.375rem;
    }

    .products__button{
        padding: 0.75rem 1rem;
        font-size: 0.875rem;
    }

    .products__header{
        
        flex-wrap: wrap;
        row-gap: 1rem;
    }
}



